body{
    background-image: url(Viewbille.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}
#name{
    color: rgb(212, 212, 224);
    font-size: 40px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navigation-bar{
   display: flex;
   justify-content: flex-end;
   border: 0px;
   margin: 0px;
   margin-right: 20px;
   gap: 80px;
}
button{
    color: rgb(3, 3, 3);
    background-color: rgba(255, 255, 0, 0.276);
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    border-radius: 50px;
    backdrop-filter: blur(10px);
}
button:hover{
    color: aliceblue;
    background-color: rgb(52, 72, 13);
    font-size: 25px;
}
h2{
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 80px;
}
#pfp{
    height: 550px;
    width: 550px;
    border-radius: 300px;
    margin-left: 16px;
    margin-bottom: 60px;
}
#intro{
    display: flex;
    margin: 100px;
    margin-left: 0px;
}

